<!DOCTYPE html>
<html>
<head>
  <title>FaalisMedia</title>
  <%= stylesheet_link_tag    "faalis_media/application", media: "all" %>
  <%= javascript_include_tag "faalis_media/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
